<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <section class="banner flex">
            <div class="text-center">
                 <h1 font-weight-bold>  Spring Security Application</h1>
                 <p>
                     A help for spring security for our application. 
                     We help you  for spring security smartly.
                 </p>
                 
            </div>
           
        </section>

    </body>
</html>