<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="navbar::layout(~{::body})">
<head>
<!--    //todo title fast från navbar-->
    <title th:text="${title}">Title</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="container" th:each="category : ${categoryList}" style="display: inline-block; min-width: 100vw;">
    <h4 th:text="${category}"></h4>
    <div th:each="product : ${productList}" th:if="${product.category == category}" style="display: inline-block;">
        <div class="card" style="width: 10rem; display: inline-block;">
            <img class="card-img-top"
                 src="https://cdn.pixabay.com/photo/2016/10/31/18/25/yogurt-1786329_960_720.jpg"
                 height="160px"
                 alt="Card image cap">
            <div class="card-body">
                <a th:href="${'product/' + product.id}">
                    <h6 class="card-title" th:text="${product.name}">Card
                        title</h6>
                </a>
                <p style="font-size: 14px;" class="card-text" th:text="${product.description}">Some quick example text
                    to build on the card title
                    and make up the bulk of the card's content.</p>
                <form th:action="@{/cart/add/}" method="post">
                    <input name="id" type="hidden" th:value="${product.id}">
                    <input name="amount" value="1" style="width: 30px">
                    <button type="submit" class="btn btn-primary" style="font-size: 14px;">Add to cart</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
